/* CSS declarations go here */
html
  font-size   10
  margin      0
  padding     0


h2
  margin        0
  padding       0
  font-family   'Italiana', serif
  font-size     15px

#header
  text-align      center
  margin-bottom   10px
  margin-top      75px

#qr
  width         150px
  height        150px
  min-width     150px
  min-height    150px
  display       inline-block

#add-form
  text-align  center

  input
    width     310px
    color     #b8b8b8

  input:focus
    color     black

  input.invalid
    box-shadow  0px 0px 10px red
    border      1px solid red

  .help
    font-size   9px


#shopping-list
  margin-top  50px
  text-align  center

  .name
    text-align center

  h1
    text-align  left
    font-size   30px
    height      34px
    line-height 34px
    font-family 'Alex Brush', serif
    width       310px
    display     inline-block
    position    relative
    top         30px
    left        -4px

  input
    font-size   30px
    height      34px
    width       310px
    font-weight bold
    margin      0
    padding     0
    border      0
    outline     0
    box-shadow  none
    font-family 'Alex Brush', serif
    display     inline-block
    position    relative
    top         30px
    left        -4px
    background  none

  ul
    width         310px
    display       inline-block
    background    #f5f5f5
    padding       20px

  ul, li 
    list-style    none
    margin        0
  
  li
    
    margin-bottom 6px
    display       block
    text-align left
      
  ul
    margin-top    20px
    margin-bottom 20px
