/* CSS declarations go here */
html
  font-size 	10
  margin 			0
  padding 		0

h2
	margin 				0
	padding 			0
	font-family 	'Italina', serif

#header
	text-align 		center
	
	img#logo
		margin-bottom  10px

	.quote
		font-style  italic

#add-form
	text-align 	center

#shopping-list
	margin-top	50px
	text-align 	center

	input
		text-align	center
		font-size   22px
		height 			24px

	li 
		list-style		none
		padding 			0
		margin 				0