/* CSS declarations go here */
html
  font-size 10
  margin 0
  padding 0

#header
	font-family 'Italiana', sans-serif
	position absolute
	width  100%
	background-color #9FEE00
	color black

	.inner
		padding 	10px  0		20px  10px

	.quote
		font-style  italic

#important-info
	position absolute
	right  	5px
	top			3px

#add-form
	position   absolute
	top				 100px
	left       20px

#shopping-list
	position 	absolute
	left 100px
	top  150px